<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href='css/reset.css'>
    <link rel="stylesheet" href="css/bootstrap-v4.1.1.min.css">
    <title><%=title %></title>


</head>
<body>
    <div class="d-flex justify-content-center align-items-center" style="height:100vh;">
        <div class="card  box border border-secondary" style="width: 20rem; height: 15rem;">
            <div class="card-body ">
                    <form class="">

                            <h3 class="text-center mb-3">
                                Please Sign In 
                            </h3>

                            <div class="form-row">
                              <div class="col-md-12 mb-3">
                                <input type="text" class="form-control mt-0" name="email" id="email" placeholder="Email address" required>
                                <div class="valid-feedback">
                                  Looks good!
                                </div>
                              </div>
                            </div>  

                            <div class="form-row">
                             <div class="col-md-12 mb-3">
                                <input type="text" class="form-control" name="passwd" id="passwd" placeholder="Password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between">
                            
                            <a href="#" class="text-primary align-self-center" style="font-size:10pt;">Signup</a>
                            <button class="btn btn-primary" type="submit" value="Log In" id="send" >Sign In</button>
                        </div>
                          </form>
            </div>
        </div>
    </div>
              
</body>
</html>